/* Poppins Font */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/poppins-300.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/poppins-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/poppins-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/poppins-800.ttf) format('truetype');
}

/* Inconsolata Font */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/inconsolata-200.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/inconsolata-300.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/inconsolata-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/inconsolata-500.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/inconsolata-600.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/inconsolata-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/inconsolata-800.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/inconsolata-900.ttf) format('truetype');
}

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

/* Material Symbols Rounded */
@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url(../fonts/material-symbols-rounded-regular.ttf) format('truetype');
}
.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

/* Material Symbols Outlined */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(../fonts/material-symbols-outlined-regular.ttf) format('truetype');
}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

/* Sono Font */
@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/sono-200.ttf) format('truetype');
}
@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/sono-300.ttf) format('truetype');
}
@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/sono-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/sono-500.ttf) format('truetype');
}
@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/sono-600.ttf) format('truetype');
}
@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/sono-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/sono-800.ttf) format('truetype');
}

/* DM Sans Font */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/dm-sans-400.ttf) format('truetype');
}

/* Xanh Mono Font */
@font-face {
  font-family: 'Xanh Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/xanh-mono-italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Xanh Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/xanh-mono-regular.ttf) format('truetype');
}
